dados/Conversa do WhatsApp com MOT AIDA HB20 PRETO.txt
dados/Conversa do WhatsApp com MOT ALEXANDRE ETIOS PRATA.txt
dados/Conversa do WhatsApp com MOT ANTÔNIO PEUGEOT BRANCO (2).txt
dados/Conversa do WhatsApp com MOT ANTÔNIO PEUGEOT BRANCO.txt
dados/Conversa do WhatsApp com MOT AUGUSTO GOL PRETO (2).txt
dados/Conversa do WhatsApp com MOT AUGUSTO GOL PRETO.txt
dados/Conversa do WhatsApp com MOT BENEDITO COBALT BRANCO.txt
dados/Conversa do WhatsApp com MOT BRUNO GRAND SIENA BRANCO (2).txt
dados/Conversa do WhatsApp com MOT BRUNO GRAND SIENA BRANCO.txt
dados/Conversa do WhatsApp com MOT CARLOS PALIO PRATA.txt
dados/Conversa do WhatsApp com MOT CLAUDIO UNO BRANCO.txt
dados/Conversa do WhatsApp com MOT CLESIO PALIO PRETO.txt
dados/Conversa do WhatsApp com MOT DANIEL VIRTUS BRANCO.txt
dados/Conversa do WhatsApp com MOT DAVI GRAND SIENA BRANCO.txt
dados/Conversa do WhatsApp com MOT DECIO ETIOS CINZA.txt
dados/Conversa do WhatsApp com MOT DÉCIO ETIOS CINZA.txt
dados/Conversa do WhatsApp com MOT DENILSON GRAND SIENA PRATA.txt
dados/Conversa do WhatsApp com MOT DENILSON PRISMA BRANCO.txt
dados/Conversa do WhatsApp com MOT DIEGO ONIX PRATA.txt
dados/Conversa do WhatsApp com MOT EDVANDRO GRAND SIENA CINZA.txt
dados/Conversa do WhatsApp com MOT ERIC IDEA BRANCO.txt
dados/Conversa do WhatsApp com MOT FABIO HB20 BRANCO.txt
dados/Conversa do WhatsApp com MOT FELIPE SIENA MARROM.txt
dados/Conversa do WhatsApp com MOT GABRIEL GOL PRATA.txt
dados/Conversa do WhatsApp com MOT GABRIEL PRISMA BRANCO.txt
dados/Conversa do WhatsApp com MOT JANAINA FORD KA BRANCO.txt
dados/Conversa do WhatsApp com MOT JOAO CLASSIC PRETO.txt
dados/Conversa do WhatsApp com MOT JOAO FOCUS PRETO.txt
dados/Conversa do WhatsApp com MOT JOSE IVO GOL PRETO.txt
dados/Conversa do WhatsApp com MOT JOSUE SPIN CINZA.txt
dados/Conversa do WhatsApp com MOT JUNINHO PALIO PRETO.txt
dados/Conversa do WhatsApp com MOT LILIAN CLASSIC PRATA.txt
dados/Conversa do WhatsApp com MOT LUCIANO CELTA BRANCO.txt
dados/Conversa do WhatsApp com MOT LUCIANO GOL PRATA.txt
dados/Conversa do WhatsApp com MOT MANOELITO CLASSIC PRATA.txt
dados/Conversa do WhatsApp com MOT MARCOS GRAND SIENA BRANCO.txt
dados/Conversa do WhatsApp com MOT ODENILDO PRISMA BRANCO.txt
dados/Conversa do WhatsApp com MOT PAMELA VIRTUS BRANCO.txt
dados/Conversa do WhatsApp com MOT PRISCILA GOL PRATA.txt
dados/Conversa do WhatsApp com MOT RONALDO FORD KA BRANCO.txt
dados/Conversa do WhatsApp com MOT ROSANE PEUGEOT PRETO.txt
dados/Conversa do WhatsApp com MOT ROSE ONIX PRETO.txt
dados/Conversa do WhatsApp com MOT TIAGO NOVO UNO BRANCO.txt
dados/Conversa do WhatsApp com MOT TYAGO PRISMA PRATA.txt
dados/Conversa do WhatsApp com MOT VAGNER COBALT PRETO.txt
dados/Conversa do WhatsApp com MOT WELLINGTON SANDERO BRANCO.txt
dados/Conversa do WhatsApp com MOT WLAD NOVO UNO BRANCO.txt
dados/Conversa do WhatsApp com MOT YURI NOVO UNO CINZA.txt
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SoftG4/v16/.suo
__pycache__/calc_runs.cpython-39.pyc
__pycache__/extract_csv.cpython-39.pyc
__pycache__/insert_sqlite.cpython-39.pyc
scripts/__pycache__/connect_sql.cpython-39.pyc
scripts/__pycache__/dir_manager.cpython-39.pyc
scripts/__pycache__/extract_csv.cpython-39.pyc
scripts/__pycache__/filter_talk.cpython-39.pyc
scripts/__pycache__/insert_sqlite.cpython-39.pyc
scripts/__pycache__/write_sql.cpython-39.pyc
scripts/pdf_generator.py
scripts/__pycache__/calculating.cpython-39.pyc
scripts/__pycache__/date_genarator.cpython-39.pyc
scripts/__pycache__/insert_sql.cpython-39.pyc
scripts/__pycache__/tkinter_gui.cpython-39.pyc
scripts/tests/calc runs.py
scripts/tests/extract_test.py
scripts/tests/sql_test.py
.vscode/launch.json
__pycache__/GUI.cpython-39.pyc
__pycache__/SoftBackend.cpython-39.pyc
